a {
 text-decoration:underline;
 color:#0061af;
}
a:hover {
 text-decoration:none;
}
a:visited {
 color:#40a1ef;
}
body {
 margin:0px;
 padding:0px;
 color:#000;
 background:#def;
 font-family:Futura,Calibri,Arial,Verdana,Tahoma,sans;
}
code {
 font-family:Consolas,Courier New,Lucida Console,monospace;
 font-size:90%;
}
div.center {
}
div.footer {
 height:115px;
 padding:0px 135px 0px 195px;
 background:url('../img/footer.png') no-repeat;
 position:relative;
}
div.footer_inner {
 padding-top:20px;
 font-size:90%;
 position:absolute;
 bottom:32px;
}
div.header {
 height:160px;
 background:url('../img/template_header_A4M39GPU.png') no-repeat;
 position:relative;
}
div.left {
 background:url('../img/left.png') repeat-y;
}
div.main {
 margin:-15px 20px 0px 20px;
 padding:6px 15px 10px 15px;
 background:#fff;
 text-align:justify;
}
div.page {
 width:1000px;
 padding:0px;
 margin:0px auto;
}
div.right {
 background:url('../img/right.png') top right repeat-y;
}
div.screenshots {
 margin-bottom:15px;
 text-align:center;
}
em {
 font-weight:bold;
 font-style:normal;
}
h2 {
 background-color:#0061af;
 color:#fff;
 margin:20px 0px 0px 0px;
 padding:2px 5px;
 font-family:Futura,Calibri,Arial,Verdana,Tahoma,sans;
 font-size:130%;
 font-weight:bold;
 text-align:center;
}
h3 {
 color:#0061af;
 margin:0px 0px 10px 0px;
 padding:2px 5px;
 font-family:Futura,Calibri,Arial,Verdana,Tahoma,sans;
 font-size:100%;
 font-weight:bold;
 text-align:center;
}
h4 {
 background-color:#def;
 color:#0061af;
 margin:15px 0px -2px 0px;
 padding:2px 5px;
 font-family:Futura,Calibri,Arial,Verdana,Tahoma,sans;
 font-size:100%;
 font-weight:bold;
}
img.screenshot {
 width:300px;
 height:250px;
 margin:0px;
 border:1px solid #0061af;
}
p {
 margin:8px 0px 5px 0px;
}
ul {
 margin:12px 0px 5px 0px;
 padding:0px 0px 0px 20px;
}
.hidden {
 display:none;
 left:0px;
 top:0px;
 position:absolute;
}